<nav class="navbar">
    <div class="navbar-left">
        <button *ngIf="isHomePage" class="hamburger-icon"><i class="fa-solid fa-bars"></i></button>
        <button *ngIf="!isHomePage" class="back-icon" (click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
    </div>

    <div class="month-picker">
        <mat-form-field>
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp touchUi startView="year" (monthSelected)="setMonthAndYear($event, dp)"
                panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>

</nav>