.navbar-left button {
    border: none;
    // color: white;
    font-size: 20px;
    background-color: transparent;
}

.navbar {
    position: sticky;
    top: 0;
    width: 95%;
    background-color: #c4c2b8;
    color: white;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    @media only screen and (min-width: 767px) {
        height: 20px; // Ensure the calculator spans the full width of its container
    }
}

.month-picker {
    padding-top: 20px;
}
