.calculator {
    position: absolute;
    bottom: 20px;
    display: flex;

    flex-direction: column; // Arrange buttons vertically
    // right: 5vw; // to make container center

    .row {
        flex: 1; // Distribute remaining space evenly among rows
        display: flex; // Use flexbox layout for rows
        justify-content: space-around; // Distribute buttons evenly along the main axis (horizontally)
        align-items: center; // Align buttons vertically within each row
    }

    button {
        flex: 1; // Make buttons flex items and distribute space evenly within each row
        // Add additional button styles as needed
        border-radius: 0; // Remove border radius
        background-color: transparent;
        height: 60px;
        font-size: 16px;
        border: 1px solid black;
    }

    .highlight {
        background-color: #ffd43b;
    }

    .description {
        width: 75%;
        border: 1px solid black;
    }

    .amount {
        width: 25%;
        border: 1px solid black;
    }
    @media only screen and (max-width: 767px) {
        width: 100vw; // Ensure the calculator spans the full width of its container
    }

    @media only screen and (min-width: 768px) {
        width: 91vw;
        left: 4vw;
    }
}

.input-field {
    margin: 0;
    padding: 0;

    button {
        position: relative;
        width: 43.5vw;
        height: 60px;
        margin-top: 15px;
        margin-left: 4vw;
        border: none;
        border-radius: 0px;
    }

    .inflow {
        background-color: #72c372;
    }

    .outflow {
        background-color: #edb8b8;
    }

    button.inactive {
        background-color: lightgrey;
        color: grey;
    }

    input {
        position: relative;
        box-sizing: border-box;
        width: 45vw;
        height: 60px;
        padding: 15px;
        margin-top: 15px;
        font-size: 16px;
    }
}

mat-form-field {
    position: relative;
    left: 4vw;
    width: 91vw;
    margin-top: 15px;

    // mat-datepicker-toggle {
    //     color: #ffd43b;
    // }
}
